extends layout

block content
  h1 Find your train gogo!
  p Select your train below to see its current schedule.
  #wrapper test commit
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo commit new-feuture
      strong  <span id='trainName'></span>
      #trainSchedule-Find your train---fix commit v4
        strong Select a train to view its current schedule.
